.header{
    width: 100%;
    height: 35px;
    margin: 0px 0px 2px;
    padding: 2px 18px;
    box-shadow: none;
    border-bottom: 2px solid #e2e2e2;
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item-native{
    width: 0px;
}

.alphabet-letter-name{
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #1e1e1e;
    vertical-align: middle;
    display: inline-block;
    color: #478aff;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// accordion {
//     .card-content {
//         padding: 0px; 
//         max-height: 0px;
//     }
//     .card{
//         margin: 0px;
//         min-width: 100%;
//         min-height: 100%;
//     }
// }
// .accordion-card{
//     height: 35px;
//     margin: 0;
//     padding: 10px 15px;
//     vertical-align: center;
//     background-color: #ccc;
//     border-radius: 0; 
//     ion-list {
//         .accordion-contact-wrapper{
//             background-color: #fff;
//         }
//     }
    
// }
.card-content{
    padding: 0;
    display: none;
}