.slot{
    max-width: 0px;
}
// .accordion-letter-wrapper{
//     background-color: #ccc;

//     width: 100%;
// }
// .accordion-contact-wrapper{
//     width: 100%;
//     background-color: #ffffff ;
// }
ion-list{
    padding:0px;
}
.contact-holder {
    margin-bottom: 14px;
    ion-item {
        --padding-start: 30px;
        --border-width: 0;
        --border-color: transparent;
        border-bottom: 1px solid #e2e2e2;
        --font-size: 14px;
        --background-checked: #478aff;
        --border-color-checked: #478aff;
    }
}
.list-ios{
    margin-bottom: 14px;
}
app-accordion-custom{
    width: 100%;
}
.contact-connect{
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    float: right;
    font-size: 14px;
}
.list-container{
    padding: 0 10px;
}

.letter-list{
    padding: 0;
}
.outer-accordion{
   .accordion-card {
    background-color: #ccc;
    margin: 0 -16px;
    
   }
   .letter-list {
    .inner-accordion {
        .accordion-card {
            background-color: #fff;
        }
    }
   }
}

.add-contact-btn-container{
    width: 100%;
    height: 55px;
    margin: 5px 0;
    padding: 3px 0;
    display: flex;
    align-items: center;

    .add-contact-icon{
        float: left;
        margin: 0 5px 0 10px;
        width: initial;
        height: 100%;
    }

    .add-contact-lable{
        float: left;
        vertical-align: middle;
        color: #478aff;;
    }
}

.contact-item{
    margin: 0 -16px;
}
.toolbar::after{
    display: none;
}
.item-native{
    width: 0px;
}
.loader-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
    div{
        top: 20%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    }
}