// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.item-native{
        height: 35px;
        padding-left:0 ;
    }
    .item-inner{
        padding-right: 0;
    }